.listOne{
    justify-content: flex-end;
    
    background-color: #FFFF;
    color:#6A6868;  
    
    width: 900px;
    margin-top:20px;
   
}
.setaBaixo{
    margin-left: 300px;
}
.paragrafo{
    text-align: justify;
}