
.BoxContainer{
    height: 567px;
    width: 100%;
    background: linear-gradient( 0deg, #C5262C 0%, #CA262E 1.73%, #D62638 7.92%, #DF2741 14.57%, #E62848 21.81%, #EC284B 30.09%, #EE284C 41.69%, #F99D31 100%);
}

.container{
    display: flex;
    justify-content: center;
    
    flex-direction: row;
    height: 567px;
    width: 100%;
   
    background-image:url(../../../public/assets/grafismo.png);
    background-repeat: no-repeat;
    background-position-x: 550px;
    background-position-y: -50px;

    h1{
        position: relative;
        width: 294px;
        height: 142px; 
        margin-left:-100px;
        margin-right: 35px;

        top: 160px;

        
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 96%;
        /* or 40px */

        text-align: right;

        /* B23/Branco */

        color: #FFFFFF;
        
    }

    text{
        width: 241px;
        height: 100px;
        margin: 290px -100px 0px -280px;

        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 124.5%;
        /* or 20px */

        text-align: right;

        /* B23/Branco */
        
        color: #FFFFFF;
    }
}



.logo{
    width: auto;
    height: 90px;
    margin-top:55px;
    margin-left:-30px;
}


.containerImg{
    position: relative;
    width:40rem;
    height:450px;
    justify-content: flex-start;
    margin: 39px -300px 39px -40px; 
    padding:0%;
    
  
}


 .contatos{
     display:flex;
     align-items:center;
     justify-content:flex-end;
     flex-direction: column;

     height: 50px;
     margin-top:450px;
     margin-left: 230px;
     margin-right: -100;
     
     
 }

 .whatsapp{
    
    width: 63px;
    height: 63px;
    margin:13px
 }
 .mensagem{
    width: 63px;
    height: 63px;
 }
