

.fotoMulher {
    will-change: opacity;

    position:absolute;
    border-radius: 50%;
    margin-left: 15rem; 
    width: 290px;
  }
  
.fotoJovem{
    will-change: opacity;

    position:absolute;
    margin-top: 110px;
    margin-left: 30px;
}  

.fotoIdoso{
    will-change: opacity;
    
    position:absolute;
    top: 17rem;
    margin-left: 15rem;
}