.ContainerFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
    background-image:url(../../../public/assets/grafismoFooter.png);
    background-position-x:450px;
    background-position-y: 50px;
    background-color: #5A5A5A;
    background-repeat:no-repeat;
    height: 318px;
}

.Logo{
    margin-right: 400px;
    margin-left: -560px;
    margin-top: 80px;
    width: 99.03px;
    height:46.76px;
    

    img{
        width: 99.03px;
        height:46.76px;
    }

}

.Parceiros{
    height:50px;
    margin-left: 400px;
    margin-top: -150px;
}

.Info{
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left:-80px;
    

    h4{
        font-size: 12px;
        margin-left:150px;
        margin-bottom: 10px;

        align-items: center;
    }
    a{
        text-decoration: underline;
    }

    .Text{
        align-items:flex-end;
        margin-bottom:-20px;
        
    }
}
.Consutar{
   display: flex;
   justify-content:space-between;
    
   width: 1000px;
   margin-bottom: 20px;
   
}
.ContatoEmail{
    display: flex;
    align-items:flex-start;
    flex-direction:column;
   
    .Contato{
        display: flex;
        flex-direction: row;
        align-items:center;
    }
    .Email{
        display: flex;
        flex-direction: row;
        align-items:center;
    }

}



.RedesIcon{
    display: flex;
    flex-direction:column;
}