


.containerQuemSomos{
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    padding:20px;
    height:950px;

    background-color: #d6d6d6;
    
    
}
.cantainerImgMissao{
    display: flex;
    flex-direction: row;
}

.agenteTel{
    position: absolute;
    margin:-530px 0px 0px 460px;
}

.Slider{
    position: absolute;
    margin:-530px 0px 0px 430px;
}


.Afiliado{
    display: flex;
    width: 260px;
    flex-direction: column;

    margin-left: 50px;
    margin-top: 50px;

    
    h1{
        color:#CB3B44;
        margin-bottom: 20px;

        font-weight: 700;
        font-family: "Helvetica";
    }

    p{
        
        font-family: "Helvetica";
        font-weight:700;

        color:#6A6868;
    }
}

.Cpf{
    width: 300px;
    margin:-250px 330px 0px 20px  ;
}


//**********Form******************
.ContainerTrabalheForm{
    display: flex;
    flex-direction: row;

    margin-top: 50px;
}

.SejaAgente{
    display: flex;
    flex-direction: column;
    width:200px;
    
    margin-left: 150px;
    
    text-align: end;
    
    h1{
        color:#CB3B44;
        
        font-weight: 700;
        font-family: "Helvetica";

    }

    p{
        
        font-family: "Helvetica";
        font-weight:700;

        color:#6A6868;
    }

    
}
.Form{

    display:flex;
    flex-direction:row;

    width: 680px;
    height: 320px;
    margin-left: 30px;
    padding:10px;
    border-radius: 10px;
    background-color: #fff;

    .FormLeft{
        .TextNome{
            width:310px;
            height:71px;
        }

        .check{
            color: #6A6868;
            font-weight: 700;
            font-family: "Helvetica";
        }
    }

    .FormRigt{

        .CPF{
            width: 340px;
            margin:0px 0px 10px 10px;
        }
        .CaixaText{
            margin: 5px 60px 10px 10px;
            width: 340px;
        }

        .ButtonEnviar{
        
            color:#fff;
            font-weight: 700px;

            width:136px;
            height: 46px;
            margin:20px 50px 0px 10px;

            background-color: #CB3B44;
    
        }
    }
   
}

