
.div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 608px;
    
}

.Slider{
    position: absolute;
    margin:-530px 0px 0px 430px;
}


.ButtonConsulta{
    position: absolute;
 
    top: 456px;
    margin-left: 160px;
    width: 250px;
    height:46px;
    color: #E6E3E3;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    
    background-color: transparent;
    border: 1px solid #FFF;
    
}

.ButtonConsulta:hover{
    color: #EC284B;
    background-color: #fff;
}
.imgPague{
    
    position: absolute;
    width: 500px;
    height: 36px;
    left: 100px;
    top: 520px;
}

.saibaFacil{
    display : flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
   
    margin-top: -10px;
    margin-bottom: -50px;
    height:653px;

    background-image:url(../public/assets/grafismo.png), linear-gradient(0deg, #C5262C 0%, #CA262E 1.73%, #D62638 7.92%, #DF2741 14.57%, #E62848 21.81%, #EC284B 30.09%, #EE284C 41.69%, #F99D31 100%);
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -50px;
    
    color: #fff;
    
    
    
}

.title{
    margin-top: -100px;
    font-weight: 700;
    font-size: 42px;
}

.imgFacil{
    display:flex;
    justify-content:space-around;
    padding:10px;
    
    width: 1000px;
    margin-top: 20px
}


.Titles{
    display:flex;
    justify-content:space-around;
    
    width: 1000px;
    margin-right: 20px;
    margin-top: 20px
}

.Paragrafos{
   display: flex;
   justify-content:space-around;
   width:1000px;
   text-justify: right;
  
  p{
    width: 250px;
    height: 108px;
    
    margin-left: 60px;
    padding: 3px;
  }
}

.ContainerConsultaBandeiras{
 display: flex;
 align-items: center;
 justify-content: flex-end;
 
 
 width: 920px;
 margin-top:10px;
}

.buttonConsulta{
    font-weight: 700;
    background-color:#FFF;
    color: rgba(203, 59, 68, 1);
    
    margin-right: 150px;
    
}

.ContainerAcham{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    
    height:400px;

    background-color: #E6E3E3;

    h1{
        font-size:42px;
        text-align:center;
        font-weight: 700;
        font-family: Helvetica, sans-serif;

        color:#CB3B44;
        width: 508px;
        height: 80px;
        
        
    }
}
.ContainerOpinioes{
    display: flex;
    flex: 1;
    flex-direction: row;
    
    
    margin-top: 40px;
}
.Opnioes{
    
    
    color: #FFF;
    
    
    letter-spacing: 0.6px;

    width: 200px;
    
    margin:20px;
    padding:9px;
    
    background: linear-gradient(0deg, #C5262C 0%, #CA262E 1.73%, #D62638 7.92%, #DF2741 14.57%, #E62848 21.81%, #EC284B 30.09%, #EE284C 41.69%, #F99D31 100%);
    
    h2{
        margin-top:10px;
        font-size:16px;
        font-weight: bold
    }
    h3{
        font-size:12px;
    }

    p{
        margin-top:10px;

        font-weight: 500;
        font-size:14px;

    }

}


.ContainerNumeros{
    display: flex;
    align-items:center;
    justify-content:space-around;
    
    
    background-color: #fff;

    
    height: 197px;
    margin-top: 10px;

    

}
.numero1{
    display: flex;
    flex-direction:row;
    
    align-items:flex-start;
      
    width: 100px;
    height: 100px;
    
    
    
    h1{
        font-size: 96px;
        font-weight: 700;
        background: linear-gradient(0deg, #C5262C 0%, #CA262E 1.73%, #D62638 7.92%, #DF2741 14.57%, #E62848 21.81%, #EC284B 30.09%, #EE284C 41.69%, #F99D31 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p{
        color:#6A6868;
        margin-top:17px;
        font-weight: 700;
        font-size: 24px;
    }
}
.numero2{
    display: flex;
    flex-direction:row;
    
    align-items:flex-start;
    
    margin-right: -190px;
    margin-top: 40px;
    width: 300px;
    height: 130px;
   

    
    h1{
        font-size: 96px;
        font-weight: 700;
        background: linear-gradient(0deg, #C5262C 0%, #CA262E 1.73%, #D62638 7.92%, #DF2741 14.57%, #E62848 21.81%, #EC284B 30.09%, #EE284C 41.69%, #F99D31 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h2{
        
        font-weight: 700;
        font-size: 20px;
        background: linear-gradient(0deg, #C5262C 0%, #CA262E 1.73%, #D62638 7.92%, #DF2741 14.57%, #E62848 21.81%, #EC284B 30.09%, #EE284C 41.69%, #F99D31 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p{
        color:#6A6868;
        margin-top:40px;
        margin-left: -80px;
        font-weight: 700;
        font-size: 26px;
      
    }
}
.numero3{
    display: flex;
    flex-direction:row;
    
    align-items:flex-start;
      
    width: 100px;
    height: 100px;
    margin-right: 300px;
    
    
    h1{
        font-size: 96px;
        font-weight: 700;
        background: linear-gradient(0deg, #C5262C 0%, #CA262E 1.73%, #D62638 7.92%, #DF2741 14.57%, #E62848 21.81%, #EC284B 30.09%, #EE284C 41.69%, #F99D31 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h2{
        font-weight: 700;
        font-size: 54px;
        background: linear-gradient(0deg, #C5262C 0%, #CA262E 1.73%, #D62638 7.92%, #DF2741 14.57%, #E62848 21.81%, #EC284B 30.09%, #EE284C 41.69%, #F99D31 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p{
        color:#6A6868;
        margin-top:50px;
        margin-left: -198px;
        font-weight: 700;
        font-size: 24px;
    }
}

.Duvidas{
    display: flex;
    
    align-items:center;
    flex-direction:column;
    
    background-color: #E6E3E3;
    
    height: 600px;
    margin-top: 10px;
   

    h3{
        margin-top: 15px;
        font-size:12px;
        text-decoration: underline;
        color:#C5262C;
    }
}

