.HeaderQuem{
    Text{
        
    }
}

.containerQuemSomos{
    display: flex;

    background-color: #FFFFFF;

}

.Missao{
    display: flex;
    flex-direction: column;

  
}

.trabalhe{
    display: flex;
    align-items: center;

    width:100px;
}